<div class="row">
    <div class="col">
        <div class="my-3">
            <h5>Admin Dashboard</h5>
        </div>
        <h4><strong>Greetings Admin</strong></h4>
        <hr>
    </div>
</div>

<div class="row my-4">
    <div class="col">
        <h5 class="text-muted">All the stories</h5>
        {{#if stories}}
        <table class="table table-hover table-borderless" id="admin-story-table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Status</th>
                    <th scope="col">Date</th>
                    <th scope="col">Banned</th>
                    <th scope="col">No. of Reports</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each stories}}
                    <tr>
                        <td><a href="/stories/{{_id}}">{{title}}</a></td>
                        <td>{{status}}</td>
                        <td>{{formatDate createdAt ' Do MMMM YYYY, h:mm a'}}</td>
                        <td>{{ban}}</td>
                        <td>{{reports}}</td>
                        <td class="row">
                            <a href="/stories/ban/{{_id}}" class="btn text-warning"><i class="fas fa-ban"></i></a>
                            <a href="/stories/unban/{{_id}}" class="btn text-success"><i class="fas fa-check-circle"></i></a>
                            <a href="/stories/delete/{{_id}}" class="btn text-danger"><i class="fas fas fa-trash"></i></a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
            {{else}}
                <strong>No stories posted</strong>
            {{/if}}
        </table>
    </div>
</div>


<div class="row my-4 pt-5">
    <div class="col">
        <h5 class="text-muted">All the users</h5>
        {{#if users}}
        <table class="table table-hover table-borderless" id="admin-users-table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Created at</th>
                    <th scope="col">Banned</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                    <tr>
                        <td>{{displayName}}</td>
                        <td>{{formatDate createdAt ' Do MMMM YYYY, h:mm a'}}</td>
                        <td>{{ban}}</td>
                        <td class="row">
                            <a href="/users/ban/{{_id}}" class="btn text-warning"><i class="fas fa-ban"></i></a>
                            <a href="/users/unban/{{_id}}" class="btn text-success"><i class="fas fa-check-circle"></i></a>
                            <a href="/users/delete/{{_id}}" class="btn text-danger"><i class="fas fas fa-trash"></i></a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
            {{else}}
                <strong>No users</strong>
            {{/if}}
        </table>
    </div>
</div>