<div class="row">
    <div class="col">
        <div class="my-3">
            <h5>Admin Dashboard</h5>
        </div>
        <h4><strong>Greetings Admin</strong></h4>
        <hr>
    </div>
</div>

<div class="row my-4">
    <div class="col">
        <h5 class="text-muted">All the stories</h5>
        {{#if stories}}
        <table class="table table-hover table-borderless" id="admin-story-table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Status</th>
                    <th scope="col">Date</th>
                    <th scope="col">Banned</th>
                    <th scope="col">No. of Reports</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each stories}}
                <tr>
                    <td><a href="/stories/{{_id}}">{{title}}</a></td>
                    <td>{{status}}</td>
                    <td>{{formatDate createdAt ' Do MMMM YYYY, h:mm a'}}</td>
                    <td>{{ban}}</td>
                    <td>{{reports}}</td>
                    <td class="row">
                        <a href="/stories/ban/{{_id}}" class="btn text-warning"><i class="fas fa-ban"></i></a>
                        <a href="/stories/unban/{{_id}}" class="btn text-success"><i
                                class="fas fa-check-circle"></i></a>
                        <a href="/stories/delete/{{_id}}" class="btn text-danger"><i class="fas fas fa-trash"></i></a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
            {{else}}
            <strong>No stories posted</strong>
            {{/if}}
        </table>
        <a id="story-report" class="btn btn-warning">Generate Report</a>
    </div>
</div>


<div class="row my-4 pt-5">
    <div class="col">
        <h5 class="text-muted">All the users</h5>
        {{#if users}}
        <table class="table table-hover table-borderless" id="admin-users-table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Created at</th>
                    <th scope="col">Banned</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                <tr>
                    <td>{{displayName}}</td>
                    <td>{{formatDate createdAt ' Do MMMM YYYY, h:mm a'}}</td>
                    <td>{{ban}}</td>
                    <td class="row">
                        <a href="/users/ban/{{_id}}" class="btn text-warning"><i class="fas fa-ban"></i></a>
                        <a href="/users/unban/{{_id}}" class="btn text-success"><i class="fas fa-check-circle"></i></a>
                        <a href="/users/delete/{{_id}}" class="btn text-danger"><i class="fas fas fa-trash"></i></a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
            {{else}}
            <strong>No users</strong>
            {{/if}}
        </table>
        <a id="user-report" class="btn btn-warning">Generate Report</a>
    </div>
</div>

<div class="row my-4 pt-5">
    <div class="col">
        <h5 class="text-muted">All the Payments</h5>
        {{#if payment }}
        <table name="payment-table" class="table table-hover table-borderless" id="admin-payment-table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Donate To</th>
                    <th scope="col">Donation From</th>
                    <th scope="col">Date</th>
                    <th scope="col">Amount</th>
                </tr>
            </thead>
            <tbody>
                {{#each payment }}
                <tr>
                    <td>{{donateToName}}</td>
                    <td>{{email}}</td>
                    <td>{{formatDate paymentAt ' Do MMMM YYYY, h:mm a'}}</td>
                    <td>{{amount}}</td>
                </tr>
                {{/each}}
            </tbody>
            {{else}}
            <strong>No stories posted</strong>
            {{/if}}
        </table>
        <a id="payment-report" class="btn btn-warning">Generate Report</a>
    </div>
</div>
<script>
    $('#story-report').click((e) => {
        let filename = ''
        let downloadLink;
        let dataType = 'application/vnd.ms-excel';
        let tableSelect = document.getElementById('admin-story-table');
        let tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');

        // Specify file name
        filename = filename ? filename + '.xls' : 'story_data.xls';

        // Create download link element
        downloadLink = document.createElement("a");

        document.body.appendChild(downloadLink);
        if (navigator.msSaveOrOpenBlob) {
            var blob = new Blob(['\ufeff', tableHTML], {
                type: dataType
            });
            navigator.msSaveOrOpenBlob(blob, filename);
        } else {
            // Create a link to the file
            downloadLink.href = 'data:' + dataType + ', ' + tableHTML;

            // Setting the file name
            downloadLink.download = filename;

            //triggering the function
            downloadLink.click();
        }
    })
</script>
<script>
    $('#user-report').click((e) => {
        let filename = ''
        let downloadLink;
        let dataType = 'application/vnd.ms-excel';
        let tableSelect = document.getElementById('admin-users-table');
        let tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');

        // Specify file name
        filename = filename ? filename + '.xls' : 'user_data.xls';

        // Create download link element
        downloadLink = document.createElement("a");

        document.body.appendChild(downloadLink);
        if (navigator.msSaveOrOpenBlob) {
            var blob = new Blob(['\ufeff', tableHTML], {
                type: dataType
            });
            navigator.msSaveOrOpenBlob(blob, filename);
        } else {
            // Create a link to the file
            downloadLink.href = 'data:' + dataType + ', ' + tableHTML;

            // Setting the file name
            downloadLink.download = filename;

            //triggering the function
            downloadLink.click();
        }
    })
</script>
<script>
    $('#payment-report').click((e) => {
        let filename = ''
        let downloadLink;
        let dataType = 'application/vnd.ms-excel';
        let tableSelect = document.getElementById('admin-payment-table');
        let tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');

        // Specify file name
        filename = filename ? filename + '.xls' : 'payment_data.xls';

        // Create download link element
        downloadLink = document.createElement("a");

        document.body.appendChild(downloadLink);
        if (navigator.msSaveOrOpenBlob) {
            var blob = new Blob(['\ufeff', tableHTML], {
                type: dataType
            });
            navigator.msSaveOrOpenBlob(blob, filename);
        } else {
            // Create a link to the file
            downloadLink.href = 'data:' + dataType + ', ' + tableHTML;

            // Setting the file name
            downloadLink.download = filename;

            //triggering the function
            downloadLink.click();
        }
    })
</script>