<div class="row">
    <div class="col">
        <div class="my-3">
            <h5>Admin Dashboard</h5>
        </div>
        <h4><strong>Greetings Admin</strong></h4>
        <hr>
    </div>
</div>

<div class="row my-4 px-4">
    <form action="/news/createNews" class="col" method="POST">
        <div class="row">
            <h5><i class="fas fa-newspaper pr-2"></i>Do you want to post any news updates for today</h5>
            <input type="text" class="mx-4" name="news" id="news" required>
            <input type="submit" value="SUBMIT" class="btn btn-sm btn-outline-dark">
        </div>
    </form>
</div>

<div class="row my-4 px-4">
    <a href="/stories/{{mostReported}}" class="pr-5">
        <h4 class="text-danger"><i class="far fa-flag pr-3"></i>View Most reported post</h4>
    </a>
    <a href="/stories/{{mostLiked}}">
        <h4 class="text-success"><i class="fas fa-flag pr-3"></i>View Most liked post</h4>
    </a>
</div>

<div class="row pt-5 my-4 px-4 justify-content-center">
    <div class="card mx-4 bg-warning">
        <div class="card-body text-center mx-4">
            <a>No. of Posts in the system <h1 class="admindash-number"><strong>{{storyCount}}</strong></h1> </a>
        </div>
    </div>
    <div class="card mx-4 bg-warning">
        <div class="card-body text-center mx-4">
            <a>No. of Users in the system <h1 class="admindash-number"><strong>{{usersCount}}</strong></h1> </a>
        </div>
    </div>
    <div class="card mx-4 bg-warning">
        <div class="card-body text-center mx-4">
            <a>Total transactions in system <h1 class="admindash-number"><strong>{{transactionCount}}</strong></h1> </a>
        </div>
    </div>
</div>
<div class="row pt-5 my-4 px-4 justify-content-center">
    <div class="card mx-4 bg-warning">
        <div class="card-body text-center mx-4">
            <a>Total profit of memoriae
                <h1 class="admindash-number">
                    <strong><i class="fas fa-rupee-sign fa-sm pr-1"></i>{{profit}}</strong>
                </h1>
            </a>
        </div>
    </div>
    <div class="card mx-4 bg-warning">
        <div class="card-body text-center mx-4">
            <a>Gross income of memoriae
                <h1 class="admindash-number">
                    <strong><i class="fas fa-rupee-sign fa-sm pr-1"></i>{{grossIncome}}</strong>
                </h1>
            </a>
        </div>
    </div>
</div>